# macOS
.DS_Store

# Dependencies
node_modules/

# Local Netlify state / caches
.netlify/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*
!.env.example

# Local editor/system noise
.vscode/
.idea/
